<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理员首页</title>
  </head>
  <body>
    <div class="page">
      <% include components/top.inc.ejs %>
      <div class="content-wrap">
        管理内容首页
      </div>
    </div>
  </body>
</html>